<footer>
    <div class="footer-logo-container">
        <a href="#"><img class="footer-logo" src="/assets/img/F Logo.png"></a>
    </div>
    <div class="footer-imprint">
        <a routerLink="/imprint"><span class="imprint">Impressum</span></a>
    </div>
    <div class="footer-social">
        <a href="https://www.instagram.com/_fabian.1999_/" target="_blank"><img src="/assets/img/instagram.png"></a>
        <a href="https://www.tiktok.com/@_fabian_1999_" target="_blank"><img src="/assets/img/tiktok.png"></a>
    </div>
</footer>