<div class="start-div" #startDiv>
    <div class="background-img">
        <div #divImgHeadline>
            <img class="start-img" #bgImg src="/assets/img/FabianHeaderImg.png">
            <div class="headline">
                <h1 #headline>Fabian⚡</h1>
            </div>
        </div>
    </div>
</div>

<div data-aos="zoom-in-up" class="scroll-down-container">
    <img src="assets/img/arrow-down.png">
</div>

<div class="relative" id="aboutMe">

    <div class="aboutMe-container">

        <div class="aboutMe-Div">

            <div class="headline-aboutMe" data-aos="zoom-in-up">
                <div class="green-line-social"></div>
                <h1>Über mich</h1>
                <div class="green-line-social"></div>
            </div>

            <span data-aos="zoom-in-up" class="aboutMe-text">
                Herzlich Willkommen auf meiner TikTok-Seite! Mein Name ist Fabian, aber in der TikTok-Welt nennen mich
                viele einfach "Fabi". Ich komme auch aus dem Schönen Siegen in NRW.
                <br><br>
                Meine Abenteuerreise auf TikTok startete am 22. Juni 2023, und was für eine Reise es bisher war! Für
                mich ist TikTok nicht nur ein Zeitvertreib, sondern es ist zu einem wichtigen Teil meines Lebens
                geworden, in dem ich Spaß habe, unterhalte und neue Freundschaften knüpfe.
                <br><br>
                Wer mich in meinen Streams begleitet, wird schnell feststellen, dass es bei mir immer lustig und ein
                bisschen verrückt zugeht. Aber keine Sorge, trotz meiner verrückten Momente bin ich stets freundlich und
                offen für alle, die vorbeischauen.
                <br><br>
                Ein kleiner Fun Fact über mich: Manche sagen, ich habe einen kleinen Dachschaden, aber genau das macht
                meine Streams so einzigartig und unterhaltsam!
                <br><br>
                Mein Ziel ist es, eine Community aufzubauen, in der wir alle Spaß haben, uns untereinander austauschen
                und uns besser kennenlernen können. Ich freue mich darauf, viele weitere tolle Momente mit euch auf
                TikTok zu teilen. Lasst uns gemeinsam lachen, Spaß haben und die TikTok-Welt erobern! <br>
                💙⚡#TeamFabi⚡💙
            </span>
        </div>


        <div class="mobile-img" data-aos="zoom-in-up">
            <img class="aboutMe-img" src="/assets/img/StartImg.png">
        </div>

    </div>

    <div class="aboutMe-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>

    <div class="aboutMe-shadow1">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>

</div>