<div class="agenturDiv">

    <div class="headerAgentur">
        <div class="green-line-social"></div>
        <h1>Agentur - Streamer</h1>
        <div class="green-line-social"></div>
    </div>

    <div class="agenturTextImgDiv">
        <span class="agenturText">
            Ich möchte euch mitteilen, dass ich regelmäßig TikTok Live-Streams veranstalte, um mit euch in direkten
            Kontakt zu treten und spannende Inhalte zu teilen. Um sicherzustellen, dass ich dabei immer auf der sicheren
            Seite bin, insbesondere in Bezug auf unerwartete Sperrungen oder andere Herausforderungen, habe ich mich
            entschieden, seit dem 07.10.2023 Mitglied einer spezialisierten TikTok-Agentur zu werden. Diese
            Mitgliedschaft bietet mir nicht nur Schutz und Unterstützung in rechtlichen Fragen, sondern öffnet mir auch
            Türen zu exklusiven Agentur-Events. Dort habe ich die Chance, mich mit anderen Kreativen auszutauschen, von
            ihnen zu lernen und neue Möglichkeiten für meine Streams zu entdecken. Es gibt noch viele weitere Vorteile,
            die diese Mitgliedschaft mit sich bringt, und ich freue mich darauf, diese in Zukunft mit euch zu teilen.
        </span>

        <img class="agenturImg" src="assets/img/ProfilbildFabianPrivat.png">

    </div>


    <div class="agentur-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>
    <div class="agentur-shadow1">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>

</div>